<!DOCTYPE html>
<html>
    <head>
        <title>Spanish verb conjugator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="/static/all_verbs.js"></script>
        <script src="/static/index.js"></script> -->
        <script src="/static/login.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/static/login.css"/>
    </head>
    <body>
          <div class='app-header'>
            Spanish verb conjugator
          </div>
          <div class=user-input>
            <div class="innerbox">
              <form id="client-login" action="login" method="post">
                  <div class="entry">
                    <label for='username'>
                      Username
                    </label>
                    <input class="field" id="username" type="text" name="username" value="">
                  </div>
                  <div class="entry">
                    <label for='password'>Password</label>
                    <input class="field" id="password" type="password" name="password" value="">
                  </div>
                  <button class="field"  id="sub" type="submit" value="Log in">Log in</button>
                  <div class="password-message">
                  </div>
                  <p class='account'>
                    <a href="/new-account.html">Create an account</a>
                  </p>
              </form>
            </div>
          </div>
    </body>
</html>
