<!DOCTYPE html>
<html>
    <head>
        <title>Spanish verb conjugator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/all_verbs.js"></script>
        <script src="/static/index.js"></script>
        <script src="/static/protected.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/static/index.css"/>
    </head>
    <body>
      <ul>
        {% for item in verb_list %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </body>
</html>
